body{
    background: #fc0000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0004de, #1eff00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fff01a, #f38ff5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
   display:flex; 
    justify-content: center;
    align-items: center; 
     min-height: 100vh; 
    font-size: 40px;
    text-align: center;
    color:rgb(120, 37, 158);
}

.description{
    transform: 0.9s ease-in-out;
}
